<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<div *ngIf="capsule">
			<ion-title class="Titre">{{ capsule.name }}</ion-title>
		</div>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngIf="capsule">
		<ion-card>
			<ion-card-header class="createur_spice">
				<span>{{ capsule.name }}</span>
			</ion-card-header>
			<ion-card-content>
				<div>Active :
					<ion-badge [color]="capsule.active ? 'secondary' : 'danger'">{{ capsule.active ? "Yes" : "No" }}</ion-badge>
				</div>
				<div>Crew capacity :
					<strong>{{ capsule.crew_capacity }}</strong>
				</div>
				<div>Side wall angle degree :
					<strong>{{ capsule.sidewall_angle_deg }}°</strong>
				</div>
				<div>Orbit duration :
					<strong>{{ capsule.orbit_duration_yr }}</strong>
				</div>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-header class="createur_spice">
				<span>Heat shield </span>
			</ion-card-header>
			<ion-card-content>
				<div>Material :
					<strong>{{ capsule.heat_shield.material }}</strong>
				</div>
				<div>Size meters :
					<strong>{{ capsule.heat_shield.size_meters }}m</strong>
				</div>
				<div>Temperature max :
					<strong>{{ capsule.heat_shield.temp_degrees }}°C</strong>
				</div>
				<div>Development Parter :
					<strong>{{ capsule.heat_shield.dev_partner }}</strong>
				</div>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-header class="createur_spice">
				<span>Thrusters</span>
			</ion-card-header>
			<ion-card-content>
				<div *ngFor="let thruster of capsule.thrusters; let i = index">
					<div>Type :
						<strong>{{ thruster.type }}</strong>
					</div>
					<div>Amount :
						<strong>{{ thruster.amount }}</strong>
					</div>
					<div>Pods :
						<strong>{{ thruster.pods }}</strong>
					</div>
					<div>Fuel_1 :
						<strong>{{ thruster.fuel_1 }}</strong>
					</div>
					<div>Fuel_2 :
						<strong>{{ thruster.fuel_2 }}</strong>
					</div>
					<div>
						--------------------------------------
					</div>
				</div>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-header class="createur_spice">
				<span>Payload</span>
			</ion-card-header>
			<ion-card-content>
				<div>Launch Payload mass:
					<strong>{{ capsule.launch_payload_mass.kg }}kg</strong>
				</div>
				<div>Launch Payload volume:
					<strong>{{ capsule.launch_payload_vol.cubic_meters }}m³</strong>
				</div>
				<div>Return Payload mass:
					<strong>{{ capsule.return_payload_mass.kg }}kg</strong>
				</div>
				<div>Return Payload volume:
					<strong>{{ capsule.return_payload_vol.cubic_meters }}m³</strong>
				</div>
				<div>Pressurized capsule:
					<strong>{{ capsule.pressurized_capsule.payload_volume.cubic_meters }}m³</strong>
				</div>
				<div>Trunk volume:
					<strong>{{ capsule.trunk.trunk_volume.cubic_meters }}m³</strong>
				</div>
				<div>Trunk cargo solar array:
					<strong>{{ capsule.trunk.cargo.solar_array }}</strong>
				</div>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>