<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title class="Titre">Spice X</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngIf="companyInfo">
		<ion-card>
			<ion-card-header class="createur_spice">
				<span>Company Informations</span>
			</ion-card-header>
			<img src="https://cdn.worldvectorlogo.com/logos/spacex.svg" alt="">
			<ion-card-content>
				<div>Founder :
					<strong>{{ companyInfo.founder }}</strong>
				</div>
				<div>Founded in :
					<strong>{{ companyInfo.founded }}</strong>
				</div>
				<div>Number of employees :
					<strong>{{ companyInfo.employees }}</strong>
				</div>
				<div>Company vehicles :
					<strong>{{ companyInfo.vehicles }}</strong>
				</div>
				<div>Launch sites :
					<strong>{{ companyInfo.launch_sites }}</strong>
				</div>
				<div>Test sites :
					<strong>{{ companyInfo.test_sites }}</strong>
				</div>
				<div>CEO :
					<strong>{{ companyInfo.ceo }}</strong>
				</div>
				<div>CTO :
					<strong>{{ companyInfo.cto }}</strong>
				</div>
				<div>COO :
					<strong>{{ companyInfo.coo }}</strong>
				</div>
				<div>CTO propulsion :
					<strong>{{ companyInfo.cto_propulsion }}</strong>
				</div>
				<div>Company valuation :
					<strong>{{ companyInfo.valuation }}</strong>
				</div>
				<div>Company summary :
					<strong>{{ companyInfo.summary }}</strong>
				</div>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-header class="createur_spice">
				<span>Company Headquarters</span>
			</ion-card-header>
			<ion-card-content *ngIf="companyInfo.headquarters">
				<div>Address :
					<strong>{{ companyInfo.headquarters.address}}</strong>
				</div>
				<div>City :
					<strong>{{ companyInfo.headquarters.city }}</strong>
				</div>
				<div>State :
					<strong>{{ companyInfo.headquarters.state }}</strong>
				</div>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-content>
				<button ion-button block (click)="getCompanyHistory()">More informations</button>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>