<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<div *ngIf="launch">
			<ion-title class="Titre">{{ launch.mission_name }}</ion-title>
		</div>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngIf="launch" padding>
		<ion-card>
			<ion-card-header class="createur_spice">
				<span>{{ launch.mission_name }}</span>
			</ion-card-header>
			<img src="{{ launch.links.mission_patch }}" alt="">
			<ion-card-content>
				<div>Flight Number :
					<strong>{{ launch.flight_number }}</strong>
				</div>
				<div>Launch Date :
					<strong>{{ launch.launch_date_utc | date : 'dd/MM/yyyy' }}</strong>
				</div>
				<div>Success :
					<ion-badge [color]="launch.launch_success ? 'secondary' : 'danger'">{{ launch.launch_success ? "Yes" : "No" }}</ion-badge>
				</div>
				<div>Details :
					<strong>{{ launch.details != null ? launch.details : "No Details" }}</strong>
				</div>
				<div>Article :
					<a href="{{ launch.links.article_link }}">Article</a>
				</div>
				<div>Video :
					<a href="{{ launch.links.video_link }}">Video</a>
				</div>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-header class="createur_spice">
				<span>Launch Site</span>
			</ion-card-header>
			<ion-card-content>
				<div>Site Name :
					<strong>{{ launch.launch_site.site_name }}</strong>
				</div>
				<button ion-button block (click)="getLaunchpadDetails(launch.launch_site.site_id)">More informations</button>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-header class="createur_spice">
				<span>Rocket</span>
			</ion-card-header>
			<ion-card-content>
				<div>Rocket Name :
					<strong>{{ launch.rocket.rocket_name }}</strong>
				</div>
				<div>Rocket Type :
					<strong>{{ launch.rocket.rocket_type }}</strong>
				</div>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-header class="createur_spice">
				<span>Reusable Component</span>
			</ion-card-header>
			<ion-card-content>
				<ul>
					<li>Core :
						<ion-badge [color]="launch.reuse.core ? 'secondary' : 'danger'">{{ launch.reuse.core ? "Yes" : "No" }}</ion-badge>
					</li>
					<li>Side Core 1 :
						<ion-badge [color]="launch.reuse.side_core1 ? 'secondary' : 'danger'">{{ launch.reuse.side_core1 ? "Yes" : "No" }}</ion-badge>
					</li>
					<li>Side Core 2 :
						<ion-badge [color]="launch.reuse.side_core2 ? 'secondary' : 'danger'">{{ launch.reuse.side_core2 ? "Yes" : "No" }}</ion-badge>
					</li>
					<li>Fairings :
						<ion-badge [color]="launch.reuse.fairings ? 'secondary' : 'danger'">{{ launch.reuse.fairings ? "Yes" : "No" }}</ion-badge>
					</li>
					<li>Capsule :
						<ion-badge [color]="launch.reuse.capsule ? 'secondary' : 'danger'">{{ launch.reuse.capsule ? "Yes" : "No" }}</ion-badge>
					</li>
				</ul>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>